<tr class="grid-table-headers">
	<th
		ng-repeat="column in $grid.getShowColumns()"
		ng-class="{'sorted': column.name === $grid.getSortColumn()}">
		<span ng-if="column.columnType === 'data' && $grid.sorted">
			<a ng-click="$grid.setSortBy(column.name, null, $event)" href="#">
				{{column.label}}
				<i>{{column.name === $grid.getSortColumn() ? ($grid.getSortDir() === 'asc' ? $grid.text.asc : $grid.text.desc) : ''}}</i>
			</a>
		</span>
		<span ng-if="column.columnType === 'data' && !$grid.sorted">
			{{column.label}}
		</span>
		<span ng-if="column.columnType === 'checkbox'">{{$grid.text.checkbox}}</span>
		<span ng-if="column.columnType === 'numbers'">{{$grid.text.numbers}}</span>
		<span ng-if="column.columnType === 'actions'">{{$grid.text.actions}}</span>
	</th>
</tr>
<tr ng-if="$grid.filtered" class="grid-table-filter">
	<td ng-repeat="column in $grid.getShowColumns()">
		<span ng-if="column.columnType === 'data'">
			<span ng-if="$grid.filters[column.name]">
				<span ng-init="gridFilter = $grid.filters[column.name]">
					<span ng-if="gridFilter.html">
						<span grid-table-filter=""></span>
					</span>
					<span ng-if="!gridFilter.html">
						<select
							ng-model="$grid.filter[gridFilter.name]"
							ng-change="$grid.setFilterBy()"
							id="{{$grid.genId(gridFilter.name)}}"
							style="width: {{gridFilter.width ? gridFilter.width : '100%'}};">
							<option value=""></option>
							<option ng-repeat="val in gridFilter.values" value="{{val[gridFilter.value]}}">{{val[gridFilter.label]}}</option>
						</select>
					</span>
				</span>
			</span>
			<span ng-if="!$grid.filters[column.name]">
				<input
					   ng-model="$grid.filter[column.name]"
					   ng-change="$grid.setFilterBy()"
					   id="{{$grid.genId(column.name)}}"/>
			</span>
		</span>
	</td>
</tr>