<tr
	ng-init="itemsIndex = $index + 1"
	ng-repeat="item in $grid.getItems()"
	ng-click="$grid.selectable ? $grid.selectItem(item) : return"
	ng-class="{'selectable': $grid.selectable, 'active': $grid.isSelectedItem(item)}"
	class="grid-table-item">
	<td ng-repeat="column in $grid.getShowColumns()">
		<span ng-if="column.columnType == 'checkbox'">
			<input ng-click="$grid.selectItem(item)" ng-checked="$grid.isSelected(item)" type="checkbox"/>
		</span>
		{{column.columnType == 'numbers' ? itemsIndex : ''}}
		{{$grid.getValue(item, column.name) | gridTableFormatter:column.type}}
		<span ng-if="column.columnType == 'actions' && $grid.itemActions">
			<span
				  ng-repeat="action in $grid.itemActions"
				  ng-click="$grid.callItemAction(action.fn, item, $event)">
				{{action.text}}
				<span grid-table-item-action="" html="action.html"></span>
			</span>
		</span>
	</td>
</tr>
<tr>
	<td ng-show="$grid.itemsCount <= 0" colspan="{{$grid.columnsCount}}">{{$grid.text.empty}}</td>
</tr>