<!DOCTYPE html>
<html ng-app="demo">
<head>
	<meta charset="utf-8"/>
	<title>AngularJS grid table demo</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
	<link rel="stylesheet" type="text/css" href="../dist/angular-grid-table.css"/>
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="../dist/angular-grid-table.js"></script>
</head>
<body>
	<div ng-controller="demoCtrl">
		<div class="container">
			<div
				 grid-table=""
				 selectable="grid.selectable"
				 sorted="true"
				 loading="grid.loading"
				 ng-model="data"
				 columns="{{columnsVar}}"
				 filtered="true"
				 filters="filters"
				 actions-width="200"
				 actions="actions"
				 row-numbers="true"
				 on-columns-update=""
				 on-items-update=""
				 on-page="selectPage"
				 on-view-by="viewBy"
				 on-sort="sort"
				 on-filter="filter"
				 on-select="onSelect"
				 on-params="onParams"
				 on-update="update">
			</div>
			<hr/>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-lg-4">Columns var</label>
					<div class="col-lg-8">
						<input ng-model="columnsVar" type="text" class="form-control"/>
					</div>
				</div>
				<button ng-click="grid.selectable = !grid.selectable" class="btn btn-primary">Set selectable {{grid.selectable}}</button>
				<button ng-click="grid.loading = !grid.loading" class="btn btn-primary">Set loading {{grid.loading}}</button>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		var app = angular.module('demo', ['gridTable']);
		app.config([
			'gridTableGlobals',
			function (cGlobals) {
				cGlobals.set('pager', {
					pagesMaxCount: 10
				});
				cGlobals.set('text', {
					viewBy: 'Показывать по:',
					empty: 'Список пуст',
					actions: 'Действия',
					viewed: 'Показано:',
					total: 'всего:'
				});
			}
		]);
		app.controller('demoCtrl', [
			'$scope',
			function ($scope) {
				$scope.grid = {
					loading: false,
					selectable: false
				};
				$scope.columnsVar = 'columns';
				$scope.columns = [
					{name: 'id', label: 'ID', type: 'integer'},
					{name: 'category.name', label: 'Category', type: 'string'},
					{name: 'title', label: 'Title', type: 'string'},
					{name: 'desc', label: 'Description', type: 'string'},
					{name: 'type', label: 'Type', type: 'integer'},
					{name: 'price', label: 'Price', type: 'currency'},
					{name: 'active', label: 'Active', type: 'boolean'},
					{name: 'date', label: 'Date', type: 'date', format: 'dd.mm.yyyy'},
					{name: 'datetime', label: 'Date time', type: 'datetime', format: 'dd.mm.yyyy h:i:s'},
					{name: 'd1', label: '', type: ''},
					{name: 'd2', label: '', type: ''}
				];
				$scope.data = [];
				
				$scope.filters = {
					type: {
						name: 'type',
						value: 'id',
						label: 'code',
						values: [
							{id: 1, code: '1'},
							{id: 2, code: '2'},
							{id: 3, code: '3'}
						]
					},
					active: {
						name: 'action',
						value: 'id',
						label: 'label',
						values: [
							{id: true, label: 'Yes'},
							{id: false, label: 'No'}
						]
					},
					d1: {
						name: 'd',
						html: '<span>1</span>'
					},
					d2: {
						name: 'd',
						html: '<span>2</span>'
					}
				};
				
				$scope.actions = [
					{
						html: '<button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>',
						fn: function (item, event) {
							// console.log(item);
						}
					},
					{
						html: '<button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>',
						fn: function (item, event) {
							$scope.data.splice($scope.data.indexOf(item), 1);
						}
					}
				];

				for (var i = 1; i <= 1000; i++) {
					var date = new Date();
					$scope.data.push({
						id: i,
						category: {
							name: 'Category ' + (i <= 100 ? 1 : ( i <= 200 ? 2 : ''))
						},
						title: 'Title ' + i,
						desc: 'Description ' + i,
						type: i <= 100 ? 1 : ( i <= 200 ? 2 : ''),
						price: i * 10,
						active: i % 2 ? true : false,
						date: '2015-04-17',
						datetime: '2015-04-17 16:25:30+03'
					});
				}
				
				$scope.onSelect = function (item) {
					
				};
				
				$scope.onParams = function (params) {
					
				};
			}
		]);
	</script>
</body>
</html>