.grid-table-wrapper * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-table-wrapper .grid-table-toolbar {
  margin: 5px 0;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-pager {
  float: left;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by {
  float: right;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by span.view-by-label {
  padding: 6px;
  float: left;
  display: block;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.view-by {
  float: left;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.pager,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.pager,
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.view-by,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.view-by {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  display: table;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.pager li,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.pager li,
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.view-by li,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.view-by li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  float: left;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.pager li:disabled,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.pager li:disabled,
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.view-by li:disabled,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.view-by li:disabled {
  cursor: not-allowed;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.pager li,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.pager li,
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.view-by li,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.view-by li {
  background: #f9f9f9;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.pager li.active > a,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.pager li.active > a,
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.view-by li.active > a,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.view-by li.active > a {
  border: none;
  border-radius: 0px;
  background: #e0e0e0;
  text-decoration: underline;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.pager li.active > a:hover,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.pager li.active > a:hover,
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.view-by li.active > a:hover,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.view-by li.active > a:hover {
  background: #e6e6e6;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.pager li > a,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.pager li > a,
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.view-by li > a,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.view-by li > a {
  margin: 0;
  padding: 6px 8px;
  border: none;
  border-radius: 0px;
  text-decoration: none;
  background: none;
  cursor: pointer;
  display: block;
}
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.pager li > a:hover,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.pager li > a:hover,
.grid-table-wrapper .grid-table-toolbar .grid-table-pager ul.view-by li > a:hover,
.grid-table-wrapper .grid-table-toolbar .grid-table-view-by ul.view-by li > a:hover {
  border: none;
  border-radius: 0px;
  background: #e6e6e6;
}
.grid-table-wrapper .grid-table-table {
  width: 100%;
}
.grid-table-wrapper .grid-table-table thead > tr > th,
.grid-table-wrapper .grid-table-table thead > tr > td,
.grid-table-wrapper .grid-table-table tbody > tr > th,
.grid-table-wrapper .grid-table-table tbody > tr > td,
.grid-table-wrapper .grid-table-table tfoot > tr > th,
.grid-table-wrapper .grid-table-table tfoot > tr > td {
  padding: 6px;
}
.grid-table-wrapper .grid-table-table thead > tr > th,
.grid-table-wrapper .grid-table-table tbody > tr > th {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.grid-table-wrapper .grid-table-table thead > tr > th {
  border-bottom: 2px solid #d4d4d4;
}
.grid-table-wrapper .grid-table-table tbody > tr:nth-of-type(2n + 1) {
  background-color: #f9f9f9;
}
.grid-table-wrapper .grid-table-table tbody > tr > td {
  border-top: 1px solid #d4d4d4;
}
.grid-table-wrapper .grid-table-table tfoot > tr > td {
  border-top: 1px solid #d4d4d4;
}
.grid-table-wrapper .grid-table-table .grid-table-column-numbers {
  width: 40px;
}
.grid-table-wrapper .grid-table-table .grid-table-column-actions {
  text-align: center;
}
.grid-table-wrapper .grid-table-table.loading .grid-table-items {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.grid-table-wrapper .grid-table-table .grid-table-header .grid-table-headers th.sorted {
  background: #f9f9f9;
}
.grid-table-wrapper .grid-table-table .grid-table-header .grid-table-headers a {
  display: block;
}
.grid-table-wrapper .grid-table-table .grid-table-header .grid-table-filter td {
  padding: 2px;
}
.grid-table-wrapper .grid-table-table .grid-table-header .grid-table-filter td span input {
  padding: 2px 6px;
  width: 100%;
}
.grid-table-wrapper .grid-table-table .grid-table-header .grid-table-filter td span select option {
  padding: 2px 6px;
}
.grid-table-wrapper .grid-table-table .grid-table-items .grid-table-item {
  cursor: pointer;
}
.grid-table-wrapper .grid-table-table .grid-table-items .grid-table-item:hover {
  background: #e6e6e6;
}
.grid-table-wrapper .grid-table-table .grid-table-items .grid-table-item.active {
  background: #e0e0e0;
}
.grid-table-wrapper .grid-table-clear {
  clear: both;
}
